import json
import os
import urllib.request


API_URL = os.getenv("API_URL")
INTERNAL_API_KEY = os.getenv("INTERNAL_API_KEY")


def lambda_handler(event, context):
    print("Glue event received:")
    print(json.dumps(event))

    detail = event.get("detail", {})
    job_name = detail.get("jobName")
    state = detail.get("state")
    job_run_id = detail.get("jobRunId")

    print("Job:", job_name)
    print("State:", state)
    print("Run ID:", job_run_id)

    if state != "SUCCEEDED":
        print("Glue job not succeeded. Skipping dbt.")
        return {
            "statusCode": 200,
            "body": "Glue job not succeeded"
        }

    url = f"{API_URL.rstrip('/')}/internal/dbt/run"

    req = urllib.request.Request(
        url,
        method="POST",
        headers={
            "X-Internal-Api-Key": INTERNAL_API_KEY,
            "Content-Type": "application/json",
        },
        data=b"{}",
    )

    with urllib.request.urlopen(req, timeout=120) as response:
        body = response.read().decode("utf-8")

    print("dbt response:", body)

    return {
        "statusCode": 200,
        "body": body
    }